In [1]:
# imports

In [2]:
import pandas as pd

In [3]:
# Datasets can be downloaded here: https://grouplens.org/datasets/movielens/
# Particular dataset link: http://files.grouplens.org/datasets/movielens/ml-latest-small.zip
# the dataset is divided into movies, ratings, tags and links. We don't need links (basically it contains imdb
# and rotten tomatoes db ids).
# importing movies, ratings and tags.

movies = pd.read_csv("../data/external/ml-latest-small/movies.csv")
ratings = pd.read_csv("../data/external/ml-latest-small/ratings.csv")
tags = pd.read_csv("../data/external/ml-latest-small/tags.csv")

In [4]:
movies.tail()

,movieId,title,genres
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [5]:
ratings.tail()

        userId  movieId  rating   timestamp
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

In [6]:
tags.tail()

      userId  movieId               tag   timestamp
3678     606     7382         for katie  1171234019
3679     606     7936           austere  1173392334
3680     610     3265            gun fu  1493843984
3681     610     3265  heroic bloodshed  1493843978
3682     610   168248  Heroic Bloodshed  1493844270

In [13]:
# We will concate the dataframes, because it's just easier to work with
combined = pd.merge(movies, ratings, on='movieId')
combined = pd.merge(combined, tags, on='movieId')

In [15]:
combined.tail()

,movieId,title,genres,userId_x,rating,timestamp_x,userId_y,tag,timestamp_y
233208,187595,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi,586,5.0,1529899556,62,star wars,1528934552
233209,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,1537098554,184,anime,1537098582
233210,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,1537098554,184,comedy,1537098587
233211,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,1537098554,184,gintama,1537098603
233212,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,1537098554,184,remaster,1537098592